@tailwind base;
@tailwind components;
@tailwind utilities;

/*WITHOUT TAILWIND  */

@layer base {
    html {
        --color-primary: #4285f4;
        --color-secondary: #34a853;
        --color-buttons: #fbbc05;
        --color-typography: #ea4335;
    }
}

body {
    /*color: var(--foreground);*/
    /*background: var(--background);*/
    background-color: #e3e3e3;
    color: #313131;
}

[data-theme="dark"] body {
    background-color: #05254d;
    color: red;
}

/*:root {*/
/*    --background: #ffffff;*/
/*    --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0a0a0a;*/
/*        --foreground: #ededed;*/
/*    }*/
/*}*/

/*html,*/
/*body,*/
/*:root {*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    color-scheme: dark;*/
/*}*/

/*body {*/
/*    !*color: var(--foreground);*!*/
/*    !*background: var(--background);*!*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    !*overflow: hidden;*!*/
/*}*/

/*@layer utilities {*/
/*}*/


/*@layer components {*/
/*    .heroButton {*/
/*        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500*/
/*    }*/

/*    .contactInput {*/
/*        @apply outline-none bg-slate-400/100 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40*/
/*    }*/
/*}*/

